html,
body,
#app {
  height: 100vh;
  background-color: #111111;
  margin: 0px;
  padding: 0px;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainContainer {
  height: 95vh;
  margin-bottom: 5vh;
}

.row {
  display: flex;
  margin-bottom: 1px;
}

.cell {
  width: 15px;
  height: 15px;
  margin-right: 1px;
}

.cell-alive {
  background-color: #001f3f;
}

.cell-dead {
  background-color: #AAAAAA;
}

#control-panel {
  height: 50vh;
  width: 30vh;
  margin-left: 50px;
  padding: 20px;
  background-color: #AAAAAA;
  text-align: center;
}

#control-button-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#control-button-list>button {
  margin-top: 5px;
  padding: 5px;
  width: 75%;
  text-align: left;
  padding-left: 20px;
}

#control-input-list>div>input {
  margin-top: 5px;
  padding: 5px;
  width: 35%;
  text-align: left;
  padding-left: 20px;
  margin-left: 20px;
}

#control-input-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#control-input-list>div {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}